<form role="form" id="dashboardUploadForm" name="dashboardUploadForm" method="post" enctype="multipart/form-data" action="/services/upload.netuno">
    <div class="form-group">
        <label class="label">Ficheiro:</label>
        <input class="form-control" name="ficheiro" id="dashboardUploadFormFile" type="file">
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-check"></i> Enviar
    </button>
    <input type="text" name="texto" value="" />
</form>