
.header {

}

.options {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    @media only screen and (min-width: 800px) {
	grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    li {
	background-color: #f1f1f1;
    }
}

.footer {

}
